body {
    padding: 0;
    margin: 0 auto;
    background: #2c2c2c;
    font-family: "Montserrat";
    font-style: normal;
    display: flex;
    flex-direction: column;
    width: 1202px;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    width: 1202px;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    width: 1202px;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

ul,
li {
    display: block;
}

.menu_container {
    width: 1202px;
    margin: 0 auto;
}

header a {
    color: #e4e4e4;
    text-decoration: none;
    display: inline-block;
    line-height: 2;
    cursor: pointer;
    position: relative;
}

a:after {
    display: block;
    content: "";
    background-color: #e4e4e4;
    height: 3px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width 0.3s ease-in-out;
    -moz--transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

a:hover:after,
a:focus:after {
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    justify-self: center;
    width: 1143px;
    padding-left: 80px;
}

.menu li {
    text-decoration: none;
}

.nav {
    width: 1202px;
    height: 64px;
    display: flex;
    align-items: center;
}

.hello {
    display: flex;
    width: 1202px;
    height: 722px;
    justify-content: center;
    flex-direction: row;
}

.aboutme {}

.portfolio {}

.info {
    width: 50%;
    height: 100%;
    color: #e4e4e4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fotome {
    width: 50%;
    height: 100%;
}

.foto {
    position: absolute;
    width: 465.18px;
    height: 674px;
    left: 1065.82px;
    top: 113px;
}

.ellipse1 {
    box-sizing: border-box;
    position: absolute;
    width: 575px;
    height: 575px;
    left: 1002px;
    top: 212.47px;
    border-radius: 50%;
    border: 67px solid #00c4f0;
    filter: drop-shadow(0px 0px 152px rgba(0, 196, 240, 0.42));
}

.hello2 {
    font-style: normal;

    font-size: 48px;
    line-height: 54px;
    color: #e4e4e4;
    margin: 0;
}

.im {
    width: 447px;

    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 82px;
    color: #e4e4e4;
    margin: 0;
}

.info2 {
    width: 430px;
    height: 74px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #e4e4e4;
}

.button {
    width: 200px;
    height: 47px;
    background: linear-gradient(87.32deg, #e2a300 4.47%, #e29500 95.53%);
    box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
    border-radius: 6px;
}

.button2 {
    text-align: center;
}

.ellipse2 {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 1021px;
    top: 244px;
    background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
    border-radius: 50%;
}

.ellipse3 {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 945px;
    top: 410px;
    background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
    border-radius: 50%;
}

.ellipse4 {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 1419px;
    top: 212px;
    background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
    border-radius: 50%;
}

.ellipse5 {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 976px;
    top: 598px;
    background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
    border-radius: 50%;
}

.js {
    position: absolute;
    width: 42px;
    height: 41px;
    left: 1045px;
    top: 233px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    display: flex;
    align-items: center;
    color: #00c4f0;
}

.css {
    position: absolute;
    width: 52px;
    height: 41px;
    left: 953px;
    top: 400px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    display: flex;
    align-items: center;
    color: #00c4f0;
}

.html2 {
    position: absolute;
    width: 80px;
    height: 40px;
    left: 982px;
    top: 600px;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 41px;
    display: flex;
    align-items: center;
    color: #00c4f0;
}

.cmd {
    position: absolute;
    width: 37px;
    height: 41px;
    left: 1435px;
    top: 190px;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 41px;
    display: flex;
    align-items: center;
    color: #00c4f0;
}